---
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brayan Rodriguez Montealegre | Ingeniero de Software">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer class="pb-12" id="experience">
      <h3
        class="font-semibold tracking-tight text-gray-800 text-4xl dark:text-white"
      >
        Experiencia laboral
      </h3>
      <Experience />
    </SectionContainer>
    <SectionContainer class="pb-12" id="projects">
      <h3
        class="font-semibold tracking-tight text-gray-800 text-4xl dark:text-white"
      >
        Proyectos
      </h3>
      <Projects />
    </SectionContainer>
    <SectionContainer class="pb-12" id="skills">
      <h3
        class="font-semibold tracking-tight text-gray-800 text-4xl dark:text-white"
      >
        Habilidades
      </h3>
      <Skills />
    </SectionContainer>
    <SectionContainer id="about">
      <h3
        class="font-semibold tracking-tight text-gray-800 text-4xl dark:text-white"
      >
        Sobre mi
      </h3>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
