---
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brayan Rodriguez Montealegre | Ingeniero de Software">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer class="" id="experience">
      <h1
        class="text-2xl font-semibold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Experiencia laboral
      </h1>
    </SectionContainer>
    <SectionContainer class="" id="projects">
      <h1
        class="text-2xl font-semibold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Proyectos
      </h1>
    </SectionContainer>
    <SectionContainer class="" id="skills">
      <h1
        class="text-2xl font-semibold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Habilidades
      </h1>
    </SectionContainer>
    <SectionContainer class="" id="about">
      <h1
        class="text-2xl font-semibold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Sobre mi
      </h1>
    </SectionContainer>
  </main>
</Layout>
<style></style>
