---
import React from "./icons/React.astro";
import Tailwind from "./icons/TailwindCSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import MaterialUI from "./icons/MaterialUI.astro";
import Firebase from "./icons/Firebase.astro";
import CSS from "./icons/CSS.astro";

interface Props {
  name: string;
}

const { name } = Astro.props;

type AstroComponent = (props: { class: string }) => HTMLElement | null;

const iconsMap: Record<string, AstroComponent> = {
  "React.js": React,
  TailwindCSS: Tailwind,
  JavaScript: JavaScript,
  MaterialUI: MaterialUI,
  Firebase: Firebase,
  CSS: CSS,
};

const IconComponent = iconsMap[name];
---

<span
  class="flex items-center gap-1 bg-gray-200 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
>
  {name}
  {IconComponent && <IconComponent class="size-4" />}
</span>
