---
import Card from "./Card.astro";
---

<div class="mt-12 flex flex-col gap-4">
  <Card
    title="Proyecto"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dicta culpa quasi laborum accusantium, iure excepturi molestiae aspernatur at sint fuga magni nisi? Deserunt autem fuga maxime molestiae reiciendis! Quis numquam reiciendis illum porro doloremque consequuntur voluptatem expedita eaque ab?"
    githubLink="#"
    previewLink="#"
  />
  <Card
    title="Proyecto"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dicta culpa quasi laborum accusantium, iure excepturi molestiae aspernatur at sint fuga magni nisi? Deserunt autem fuga maxime molestiae reiciendis! Quis numquam reiciendis illum porro doloremque consequuntur voluptatem expedita eaque ab?"
    githubLink="#"
    previewLink="#"
  />
  <Card
    title="Proyecto"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dicta culpa quasi laborum accusantium, iure excepturi molestiae aspernatur at sint fuga magni nisi? Deserunt autem fuga maxime molestiae reiciendis! Quis numquam reiciendis illum porro doloremque consequuntur voluptatem expedita eaque ab?"
    githubLink="#"
    previewLink="#"
  />
</div>
