---
import AzureIcon from "./icons/Azure.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import CSharpIcon from "./icons/CSharp.astro";
import CSSIcon from "./icons/CSS.astro";
import DotNetIcon from "./icons/DotNet.astro";
import FigmaIcon from "./icons/Figma.astro";
import FirebaseIcon from "./icons/Firebase.astro";
import GitIcon from "./icons/Git.astro";
import HTMLIcon from "./icons/HTML.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import MaterialUIIcon from "./icons/MaterialUI.astro";
import NextJSIcon from "./icons/NextJS.astro";
import ReactIcon from "./icons/React.astro";
import ReduxIcon from "./icons/Redux.astro";
import SQLServerIcon from "./icons/SQLServer.astro";
import TailwindCSSIcon from "./icons/TailwindCSS.astro";
import TauriIcon from "./icons/Tauri.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";

const SKILLS = [
  { name: "React.js", component: ReactIcon },
  { name: "NextJS", component: NextJSIcon },
  { name: "TypeScript", component: TypeScriptIcon },
  { name: "JavaScript", component: JavaScriptIcon },
  { name: "Git", component: GitIcon },
  { name: "Redux", component: ReduxIcon },
  { name: "TailwindCSS", component: TailwindCSSIcon },
  { name: "C#", component: CSharpIcon },
  { name: ".Net", component: DotNetIcon },
  { name: "SQLServer", component: SQLServerIcon },
  { name: "Azure", component: AzureIcon },
  { name: "Bootstrap", component: BootstrapIcon },
  { name: "CSS3", component: CSSIcon },
  { name: "Figma", component: FigmaIcon },
  { name: "Firebase", component: FirebaseIcon },
  { name: "HTML5", component: HTMLIcon },
  { name: "MaterialUI", component: MaterialUIIcon },
  { name: "Tauri", component: TauriIcon },
];
---

<div class="flex flex-wrap justify-center gap-10 mt-12">
  {
    SKILLS.map((skill) => (
      <div class="flex flex-col gap-2">
        <skill.component class="size-24 hover:scale-125 hover:transition-all hover:duration-200" />
        <span class="text-gray-800 dark:text-gray-300 font-medium text-center">
          {skill.name}
        </span>
      </div>
    ))
  }
</div>
